#asearchContent {
    display: table-cell;
    width: 85%;
    vertical-align: top;
}

#form {
    margin: 50px;
    padding: 20px;
}
#results {
    margin: 50px;
    padding: 25px;
    width: 100%;
    overflow: auto;
    height: 500px;
}

.alabel {
    padding-bottom: 10px;
}
.pcol {
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
  
.input-range {
    margin-bottom: 50px;
}

.input-range__label--min,
.input-range__label--max {
  color: transparent
}